.product {
  margin: 1em 0;
  display: grid;
  grid-template-rows: 1fr max-content;
  box-shadow: 1px 1px 2px 2px grey;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}

.imgContainer {
  max-width: 100%;
  max-height: 450px;
  display: grid;
  place-items: center;
}

.img {
  max-width: 100%;
  max-height: 420px;
  object-fit: cover;
}

.productInfo {
  margin-top: 1em;
  display: grid;
  place-items: center;
  row-gap: 0.5em;

  & .title {
    text-align: center;
  }

  & .price {
    font-weight: bold;
    align-self: right;
  }

  & .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  & .quantity {
    display: flex;

    & .quantityText, .quantityInput {
      margin: 0 0.5em;
    }
  }

  & .buttons {
    display: flex;
    gap: 0.25em;
  }
}

.quantityInput {
  width: 2em;
  text-align: center;
}

.buttonIcon {
  border: none;
  background: none;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.svg {
  width: 1em
}

.btnPrimary {
  composes: btnPrimary from "/src/index.css";
}
